In [ ]:
#საჭირო ბიბლიოთეკების დაიმპორტება
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn import metrics
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from tensorflow.keras.utils import get_file

In [ ]:
#მონაცემთა კრებულის გადმოწერა
path = get_file('kddcup.data_10_percent.gz', origin=
    'http://kdd.ics.uci.edu/databases/kddcup99/kddcup.data_10_percent.gz')

#მონაცემთა კრებულის CSV ფაილად წაკითხვა
df = pd.read_csv(path, header=None)

Downloading data from http://kdd.ics.uci.edu/databases/kddcup99/kddcup.data_10_percent.gz
2146304/2144903 [==============================] - 1s 0us/step

In [ ]:
#მონაცემთა კრებულის CSV ფაილად წაკითხვა
df = pd.read_csv(path, header=None)

# sample only 10% of the dataset
df.dropna(inplace=True,axis=1) # For now, just drop NA's 
# (rows with missing values)

# The CSV file has no column heads, so add them
df.columns = [
    'duration',
    'protocol_type',
    'service',
    'flag',
    'src_bytes',
    'dst_bytes',
    'land',
    'wrong_fragment',
    'urgent',
    'hot',
    'num_failed_logins',
    'logged_in',
    'num_compromised',
    'root_shell',
    'su_attempted',
    'num_root',
    'num_file_creations',
    'num_shells',
    'num_access_files',
    'num_outbound_cmds',
    'is_host_login',
    'is_guest_login',
    'count',
    'srv_count',
    'serror_rate',
    'srv_serror_rate',
    'rerror_rate',
    'srv_rerror_rate',
    'same_srv_rate',
    'diff_srv_rate',
    'srv_diff_host_rate',
    'dst_host_count',
    'dst_host_srv_count',
    'dst_host_same_srv_rate',
    'dst_host_diff_srv_rate',
    'dst_host_same_src_port_rate',
    'dst_host_srv_diff_host_rate',
    'dst_host_serror_rate',
    'dst_host_srv_serror_rate',
    'dst_host_rerror_rate',
    'dst_host_srv_rerror_rate',
    'outcome'
]

# გამოვიტანოთ თითოეული ნუმიშის 5 სვეტი
pd.set_option('display.max_columns', 5)
#თითოეული ნუმიშის 5 მწკრივი
pd.set_option('display.max_rows', 5)
# გამოვიტანოთ პირველი 5 ნიმუში
display(df[0:5])

   duration protocol_type  ... dst_host_srv_rerror_rate  outcome
0         0           tcp  ...                      0.0  normal.
1         0           tcp  ...                      0.0  normal.
2         0           tcp  ...                      0.0  normal.
3         0           tcp  ...                      0.0  normal.
4         0           tcp  ...                      0.0  normal.

[5 rows x 42 columns]

In [ ]:
#მონაცემთა ინჟინერია (მონაცემთა წინარე პროცესი)
def Preprocesses(df):
  #მონაცემთა წინარე პროცესში სტრინგის შემცველ სვეტებს გადავაქცევთ შესაბამის რიცხვით ცვლადად
    str_cols=['protocol_type',
    'service',
    'flag']
    dic={}
    replace_dic={}
    #ვინახავთ თითოეულ გადაყვანილ რიცხვით ცვლადს Dictionary ტიპის მასივში. 
    #საჭიროების შემთხვევაში გამოყენებისთვის
    for words in str_cols:
        lst=[]
        for word in df[words]:
            if word not in lst:
                lst.append(word)
        dic[words]=[dict(zip(lst,range(0,len(lst))))]
        replace_dic[words]=dict(zip(lst,range(0,len(lst))))
    
    for idx,words in enumerate(str_cols):
        df[words]=df[words].replace([value for value in replace_dic.values()][idx])
    return df
Preprocesses(df)

        duration  protocol_type  ...  dst_host_srv_rerror_rate  outcome
0              0              0  ...                       0.0  normal.
1              0              0  ...                       0.0  normal.
...          ...            ...  ...                       ...      ...
494019         0              0  ...                       0.0  normal.
494020         0              0  ...                       0.0  normal.

[494021 rows x 42 columns]

In [ ]:
#X-სა და Y-ში ვინახავთ დაენკოდერიბულ ცვლადებს
x_columns = df.columns.drop('outcome')
x = df[x_columns].values
dummies = pd.get_dummies(df['outcome']) 
outcomes = dummies.columns
num_classes = len(outcomes)
y = dummies.values

In [ ]:
#ვყოფთ მონაცემებს სამრწვრთენ და სატესტო სიმრავლეებად. 75/25 პროპორციული განაწილებით
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.25, random_state=42)

        duration  protocol_type  ...  dst_host_srv_rerror_rate  outcome
0              0              0  ...                       0.0  normal.
1              0              0  ...                       0.0  normal.
...          ...            ...  ...                       ...      ...
494019         0              0  ...                       0.0  normal.
494020         0              0  ...                       0.0  normal.

[494021 rows x 42 columns]

In [ ]:
#ვქმნით ხელოვნური ნეირონული ქსელის მოდელს
model = Sequential()
model.add(Dense(10, input_dim=x.shape[1], activation='relu'))
model.add(Dense(50, input_dim=x.shape[1], activation='relu'))
model.add(Dense(10, input_dim=x.shape[1], activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
model.add(Dense(y.shape[1],activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam')
model.fit(x_train,y_train,validation_data=(x_test,y_test),
          epochs=10)

Epoch 1/10
11579/11579 [==============================] - 20s 2ms/step - loss: 0.4192 - val_loss: 0.1064
Epoch 2/10
11579/11579 [==============================] - 20s 2ms/step - loss: 0.0818 - val_loss: 0.0721
Epoch 3/10
11579/11579 [==============================] - 20s 2ms/step - loss: 0.0701 - val_loss: 0.0659
Epoch 4/10
11579/11579 [==============================] - 20s 2ms/step - loss: 0.0643 - val_loss: 0.0641
Epoch 5/10
11579/11579 [==============================] - 20s 2ms/step - loss: 0.0605 - val_loss: 0.0621
Epoch 6/10
11579/11579 [==============================] - 20s 2ms/step - loss: 0.0577 - val_loss: 0.0514
Epoch 7/10
11579/11579 [==============================] - 20s 2ms/step - loss: 0.0576 - val_loss: 0.0562
Epoch 8/10
11579/11579 [==============================] - 22s 2ms/step - loss: 0.0583 - val_loss: 0.0608
Epoch 9/10
11579/11579 [==============================] - 20s 2ms/step - loss: 0.0557 - val_loss: 0.0565
Epoch 10/10
11579/11579 [==============================] - 20s 2ms/step - loss: 0.0539 - val_loss: 0.0554

In [ ]:
#ვითვლით მოდელის სიზუსტეს სავალიდაციო მონაცემებზე
pred = model.predict(x_test)
pred = np.argmax(pred,axis=1)
y_eval = np.argmax(y_test,axis=1)
score = metrics.accuracy_score(y_eval, pred)
print("Validation score: {}".format(score))

Validation score: 0.9849238093695852